.components-dropdown-menu__popover .components-popover__content{
min-width: 260px;
}

div.publishpress-extended-post-privacy, div.publishpress-extended-post-status {
display: none;
}

div.edit-post-post-status div.edit-post-post-schedule, div.edit-post-post-status div.edit-post-post-schedule div {
display:inline-flex;
}

/* Classic Editor Trash button: Initial hide before js show with recaption */
#submitdiv #submitpost a.submitdelete {
display: none;
}

/* Gutenberg */
a.rvy-post-preview.components-button.is-large {
margin-right:5px;
text-decoration: none;
height: inherit;
}

a.editor-post-preview, a.editor-post-preview.components-button.is-large {
margin-right: 5px;
}


#rvy_compare_button {
margin: 0 10px 10px 10px;
}

#misc-publishing-actions a.rvy-direct-approve {
margin-left: 5px;
}

#woocommerce-product-data ul.product_data_tabs li.variations_options,
#woocommerce-product-data ul.product_data_tabs li.linked_product_options
{
display: none !important;
}
