.components-dropdown-menu__popover .components-popover__content{
min-width: 260px;
}

div.publishpress-extended-post-privacy, div.publishpress-extended-post-status {
display: none;
}

div.edit-post-post-status div.edit-post-post-schedule, div.edit-post-post-status div.edit-post-post-schedule div {
display:inline-flex;
}

/* Classic Editor Trash button: Initial hide before js show with recaption */
#submitdiv #submitpost a.submitdelete {
display: none;
}

/* Prevent submission / scheduling of Post Expirator settings, for now */
#expirationdatediv {
display: none;
}

/* Gutenberg */
a.rvy-post-preview.components-button.is-large {
margin-right:5px;
text-decoration: none;
height: inherit;
}

a.editor-post-preview, a.editor-post-preview.components-button.is-large {
margin-right: 5px;
}


#rvy_compare_button {
margin: 0 10px 8px 10px;
}

#misc-publishing-actions a.rvy-direct-approve {
margin-left: 5px;
}

div.components-panel__row button.editor-post-trash {
height: 25px;
margin-top: 20px;
color: #6f1b1b;
box-shadow: inset 0 0 0 1px #6f1b1b;
}

span.revision-submitting {
font-weight: bold;
}

div.edit-post-post-status h2 {
margin-top: 10px !important;
}
