div.publishpress-extended-post-privacy, div.publishpress-extended-post-status {
display: none;
}

div.edit-post-post-status div.edit-post-post-schedule, div.edit-post-post-status div.edit-post-post-schedule div {
display:inline-flex;
}

/* Gutenberg */
a.rvy-post-preview, a.rvy-post-preview.components-button.is-large {
margin-right:5px;
text-decoration: none;
height: inherit;
}

a.editor-post-preview, a.editor-post-preview.components-button.is-large {
margin-right: 5px;
}
div.components-panel button.revision-approve {
width: 100%;
margin: 15px 0 15px 0;
justify-content: center;
color: #070;
border-color: #070;
font-weight: bold;
}

div.components-panel a.revision-approve{
text-decoration: none;
}

/* Classic */
#submitpost #revision-compare {
margin: 5px 10px 10px 5px;
}

#submitpost div.rvy-revision-approve {
line-height: 2.1;
}

#submitpost div.rvy-revision-approve a, #submitpost div.rvy-revision-approve a:link, #submitpost div.rvy-revision-approve a:visited {
color: #070;
font-weight: bold;
}

#rvy_compare_button {
margin: 0 10px 10px 10px;
}
