.components-dropdown-menu__popover .components-popover__content{
min-width: 260px;
}

div.publishpress-extended-post-privacy, div.publishpress-extended-post-status {
display: none;
}

div.edit-post-post-status div.edit-post-post-schedule, div.edit-post-post-status div.edit-post-post-schedule div {
display:inline-flex;
}

/* Gutenberg */
a.rvy-post-preview.components-button.is-large {
margin-right:5px;
text-decoration: none;
height: inherit;
}

a.editor-post-preview, a.editor-post-preview.components-button.is-large {
margin-right: 5px;
}


#rvy_compare_button {
margin: 0 10px 10px 10px;
}
